@font-face {
  font-family: "Circe";
  src: url("../../Assets/fonts/Circe/CRC55.otf");
}

.FoodSliderTitle {
  margin-top: 180px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 81px;
  /* identical to box height */
  /* display: flex; */
  align-items: center;
  color: #000000;
  text-align: center;
}

.FoodSliderSubtitle {
  margin-top: 20px;
  /* width: 679px;
  height: 35px; */
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  /* display: flex; */
  align-items: center;
  color: #000000;
  text-align: center;
}

.FoodSlideArrow {
  width: 50px;
  height: 100%;
  position: absolute;
  z-index: 99;
  top: 0;
  bottom: 0;
  margin: auto;
}

.FoodSlideArrow.left {
  left: 0;
  margin-left: 200px;
  cursor: pointer;
}

.FoodSlideArrow.right {
  right: 0;
  margin-right: 250px;
  cursor: pointer;
}

.FoodSlideWrapper {
  position: relative;
  width: 100%;
  background-color: #f4f4f4;
  /* margin-left: 100px; */
  margin: auto;
  margin-top: 30px;
}

.FoodSlideContainer {
  display: flex;
  margin-left: 53px;
  width: max-content;
  overflow: hidden;
  transform: translateX(0px);
  transition: all 0.5s ease;
}

.FoodSlider1 {
  width: 1760px;
  height: 838px;
  /* background-color: #f4f4f4; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.SlideInner1 {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 1000px;
  height: 90%;
  /* background-color: aqua; */
  display: flex;
}

.Stepper1Container {
  /* margin-top: 10px; */
  margin: 0 auto;
  /* display: flex; */
}

.StepperWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.FoodFinderTitle {
  margin-top: 20px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  /* display: flex; */
  align-items: center;
  text-align: center;

  color: #000000;
}

.FoodFinderSubtitle {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  /* display: flex; */
  align-items: center;
  text-align: center;

  color: #000000;
}

.PetContainer {
  margin-top: 50px;
  display: flex;
  max-width: 960px;
  flex-flow: wrap;
  /* background-color: aqua; */
  justify-content: center;
  gap: 70px;
}
/*---------------- Slide2  ----------------*/

.SlideInner2 {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 800px;
  height: 90%;
  /* background-color: aqua; */
}
.FoodSlider2 {
  width: 1760px;
  height: 838px;
  /* background-color: #f4f4f4; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.PetFoodContainer {
  margin-top: 50px;
  display: flex;
  max-width: 1080px;
  flex-flow: wrap;
  /* background-color: aqua; */
  justify-content: center;
  gap: 40px;
}

.SlideInner3 {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 800px;
  height: 80%;
  background-color: #f4f4f4;
}
.FoodSlider3 {
  width: 1760px;
  height: 838px;
  /* background-color: #f4f4f4; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -------------------- FoodSlider3 ----------------- */
.PetFood-moreinfo-wrapper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  /* max-width: 00px; */
  width: 100%;
  justify-content: space-between;
  gap: 80px;
  /* margin: auto; */
}

.petfood-search-button-wrapper {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.petfood-search-button {
  /* display: flex;
flex-direction: row;
justify-content: center; */
  /* align-items: center; */
  margin: auto;
  padding: 8px 36px;
  width: 320px;
  height: 70px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;

  /* White */

  color: #ffffff;

  /* Primary 500 */

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #ec1c24;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.petfood-search-button:hover {
  background-color: #bf2121;
}
