.NavbarContainer {
 
  width: 90%;
  height: 380px;
  margin: auto;

}

.NavbarWrapper {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #fff;
    padding: 10px 20px;
}

.NavbarLeft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex: 0.3;
}

.Logo {
    width: 180px;
}

.LogoText {
    font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  /* width: 180px; */
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f46734;
  margin-top: -20px;
}
/* -----------Navbar Center ----------------*/
.NavbarCenter {
 flex:1;
 display: flex;
 /* margin-top: 20px; */
 height: max-content;
margin: auto;
padding: 12px;
}

.NavCenterWrapper {

 display: flex;
justify-content: space-between;
 align-items: center;
 width: 100%;
 text-decoration: none;
 margin-right: 50px;
/* padding: 12px 40px; */
background-color: #FAFAFA;
/* background-color: #743232; */
}

.NavLink{
    text-decoration: none; 
    /* font-family: 'Circe'; */
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;
color: black;
padding: 12px 30px;

}

.NavLink:hover{
    background-color: #E7E7E7;
}

/* .NavLink.Red {

background-color:#EC1C24 ;

} */

.down-arrow-icon {
    margin-left: 5px;
    margin-top: 3px;
    width: 1rem;
    color: black;


}


/* -----------Navbar Right ----------------*/
.NavbarRight {
    display: flex;
    /* align-items: center; */
    /* justify-content: flex-end; */
    flex-direction: column;
    flex: 0.3;
    margin-top: 10px;
    /* margin-right: 20px; */
}

.NavInfoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    max-width: 382px;
}

.NavInfoText {
    color: #EC1C24;
    /* font-family: 'Circe';  need to import fonts */
font-style: normal;
font-weight: 700;
font-size: 1.1rem;
line-height: 29px; 
margin-left: 15px;
margin-right: 15px;
text-decoration: none;


}
.NavInfoText:hover{
    color: #BF2121;

}

.PriceWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 10px; */
}

.NavSearchContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  border: 1px solid #707070;
  margin-left: 40px;
  padding: 5px 0px;
  width: 243px;
  height: 20px;
  margin-top: 10px;

}

/* .form-search-container {
    display: flex;
    align-items: center;
    padding-right: 60px;
    margin-left: 30px;
}

.navbar-search-input {
    position: relative;
    border-radius: 10px;
    height: 45px;
    background-color: #00000009;
    padding-left: 40px;
    border: 0.1px #00000009 solid;
}

.navbar-search-icon {
    position: absolute;
    margin-left: 5px;
 
} */




.shopping-cart-icon {
/* size: 50px; */
    /* width: 1.5rem; */
height: 60px;
    color: #ec1c24;
    display: inline-block;
    margin-right: 5px;
}

.shopping-cart-icon:hover {
    color: #BF2121;
}

.bar {
    color:Grey 500;
    margin-bottom: 1px;
}

/* ------------dropdown menu -------------*/

.DropdownContainer {

    background-color: "#EC1C24";
    
}

.dropdown-menu {
    display: flex;
    /* justify-self: start; */
    align-items: center;
    flex-direction: row;
    margin-top: 29px;
    position: absolute;
    color: "#EC1C24";
    margin-left: -107px;
    transition: "0.3s ease-in-out"

}

.DropdownLink {

    text-decoration: none; 
    /* font-family: 'Circe'; */
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;
color: white;
background-color:#EC1C24 ;
padding: 12px 41px;
}

.DropdownLink:hover {
    background-color: #BF2121;
}