.SearchItemContainer {
  /* width: 520px; */
  /* height: 260px; */
  /* background-color: white; */
  flex-direction: column;
  margin-right: 10px;
  margin-left: 40px;
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-right: 20px;
}

.SearchItemImg img {
  width: 100%;
  margin-bottom: 20px;
  margin-left: -18px;
  max-width: 190px;
  /* flex: 0.5; */
  /* width: 160px; */
  /* height: 50px; */
}

/* ---------------------ItemInfoWrapper  ---------------------*/
.SearchItemInfoWrapper {
  /* flex: 0.5; */
  /* display: flex;
  flex-direction: column; */
  /* justify-content: space-between; */
}

.SearchProductName {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  width: 261px;
  height: 58px;
  color: #ec1c24;
  /* margin-bottom: 20px; */
}

.SearchProductPrice {
  margin-top: 40px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: black;
}
.SearchProductOldprice {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #666666;
}

.SearchShoppingCartButton {
  margin-top: 30px;
  background: #666666;
  border-radius: 64px;
  padding: 8px 20px;

  width: 85px;
  height: 45px;
  border: none;
}
.SearchShoppingCartButton:hover {
  background: black;
  cursor: pointer;
}
