@font-face {
  font-family: "Circe";
  src: url("../../Assets/fonts/Circe/CRC55.otf");
}

.slideItemContainer {
  width: 520px;
  height: 260px;
  background-color: white;
  margin-right: 10px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-right: 20px;
}

.ItemImg {
  flex: 0.5;
  max-width: 160px;

  /* height: 50px; */
}

.ItemImg Img {
  max-width: 250px;
}
/* ---------------------ItemInfoWrapper  ---------------------*/
.ItemInfoWrapper {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.ProductName {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  width: 261px;
  height: 58px;
  color: #ec1c24;
  /* margin-bottom: 20px; */
}

.ProductPrice {
  margin-top: 40px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: black;
}
.ProductOldprice {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #666666;
}

.ShoppingCartButton {
  margin-top: 30px;
  background: #666666;
  border-radius: 64px;
  padding: 8px 20px;

  width: 85px;
  height: 45px;
  border: none;
}
.ShoppingCartButton:hover {
  background: black;
  cursor: pointer;
}
